<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Jai Kisan</title>
    <!--FONTAWESOME-->
    <link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    
    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="css/style.css">
    <!---FAVICON-->
    <link rel="icon"href="images/logo.svg">
    
</head>
<body id="home">
    <!--NAVBAR-->
    <nav class="navbar">
        <div class="logo2">
            <img src="images/logo.svg"alt="">
        </div>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#what">What</a></li>
            <li><a href="#who">Who</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <!---/NAVBAR-->
    <!---SECTION:SHOWCASE-->
    <header class="showcase">
        <div class="showcase-content text-center">
            <h2 class="l-heading"><span class="text-primary">One stop solution  </span>for farmers</h2>
            <div>
                <a href="/officer"class="btn">Field Officer</a>
                <a href="/agent"class="btn">Agent</a>
            </div>
        </div>
    </header>
    <!---/SECTION-SHOWCASE-->
    <!--SECTION:WHAT-->
    <section id="what"class="bg-light py-2">
        <div class="container">
            <h2 class="m-heading text-center"><span class="text-primary">What</span> We do ?</h2>
            <div class="items">
                <div class="item text-center">
                    <i class="fa fa-university fa-2x"></i>
                    <h3>Investment Banking</h3>
                    <p class="py">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio molestias nisi odit provident facere vel a laborum laboriosam autem dignissimos.</p>
                    
                </div>
                <div class="item text-center">
                    <i class="fa fa-dollar fa-2x"></i>
                    <h3>Portfolio Management</h3>
                    <p class="py">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio molestias nisi odit provident facere vel a laborum laboriosam autem dignissimos.</p>
                    
                </div>
                <div class="item text-center">
                    <i class="fa fa-pencil fa-2x"></i>
                    <h3>Tax &amp; Consultation</h3>
                    <p class="py">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio molestias nisi odit provident facere vel a laborum laboriosam autem dignissimos.</p>
                    
                </div>
            </div>
        </div>
    </section>
    <!--/SECTION:WHAT-->
    
    
    <!--SECTION CONTACT-->
    <section id="contact">
        <div class="contact-form bg-primary p-2">
            <h2 class="m-heading">Contact Us</h2>
            <p>please use the form below to contact us</p>
            <form>
                <div class="form-group">
                     <label for="name">Name</label>
                    <input type="text" id="name" placeholder="Enter Name" title="Please Insert your name!">

                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="Enter Email" title="Please Insert your Email!">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="text" id="phone" placeholder="Enter Phone Number" title="Please Insert your phone number!">
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="message" rows="2" placeholder="Enter Message"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Send" title="Send A Message" class="btn btn-dark">
                </div>

            </form>
            
        </div>
        <div id="map">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7542.66950831842!2d72.82785412189455!3d19.049013998413276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c938304c8e93%3A0x870757227fa84b46!2sReclamation%2C%20Bandra%20West%2C%20Mumbai%2C%20Maharashtra%20400050!5e0!3m2!1sen!2sin!4v1609000467483!5m2!1sen!2sin" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
       
    </section>
     <!--/SECTION:CONTACT-->
     
      <!--SECTION FOOTER-->
        <footer id="main-footer" class="bg-dark text-center py-1">
        <div class="container">
            <p>Copyright &copy; 2020 <span class="text-primary">Jai Kisan</span>, All Rights Reserved!</p>
        </div>
    </footer>

       <!--/SECTION CONTACT-->
</body>
</html>






















